@model WebApplication1.Models.PhoneNumberViewModel


@section AddToHead{
    <style>

        .field-validation-error { color: red;}
        .input-validation-error {border: 1px solid red;}

    </style>
}

@{
    ViewBag.Title = "Home Page";
}

    <div>
        @using (Html.BeginForm())
        {

            <p>@Html.ValidationMessageFor(m => m.PhoneNumber)</p>

            <div style="padding:8px;">
                <label for="PhoneNumber">Phone Number:</label>

                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { size="10", maxlength="13"} })

                <input type="submit" name="action" value="View Variations" formaction=@Url.Action("ViewVariations") formmethod="post"
                       style="padding:2px,6px,2px,6px;margin-left:8px;border-radius:18px;" />
            </div>

            if (Model.PhoneNumbers.Any())
            {
                <div style="margin-bottom:4px; padding-left:8px;">
                    Total number of combinations: @Model.NumVariations
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Phone Number Variation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var variation in Model.PhoneNumbers)
                        {
                            <tr>
                                <td>@variation.Id</td>
                                <td>@variation.NumberVariation</td>
                            </tr>
                        }
                    </tbody>


                </table>

                <div style="display:flex;justify-content:space-between">

                    <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                    <input type="hidden" name="NumVariations" value="@Model.NumVariations" />


                    <div>
                        <input type="submit" name="action" value="&lt;" class="btn btn-link" formaction=@Url.Action("Previous") formmethod="post"
                               disabled="@(Model.PageNumber == 1 ? "disabled" : null)" />
                        <label>Page</label> @Model.PageNumber of @Model.PageCount
                        <input type="submit" name="action" value="&gt;" class="btn btn-link" formaction=@Url.Action("Next") formmethod="post"
                               disabled="@(Model.PageNumber == @Model.PageCount ? "disabled" : null)" />
                    </div>

                    <div>
                        <label>Page Size</label>
                        @Html.DropDownList("PageSize",
                            new int[] { 20, 30, 50, 100 }.Select(d=>new SelectListItem {Text=d.ToString(),Value=d.ToString(),Selected=Model.PageSize==d}), new { id="PageSizeDropdown" })
                    </div>

                </div>

            }

        }
    </div>

@section Scripts
{
    <script>
        $(function () {

            $("#PageSizeDropdown").change(function (event) {
                var form = $(event.target).parents('form');
                form.action = "/Home/PageSizeChange";
                form.submit();
            });

        });
    </script>
}

