@model WebApplication1.Models.PhoneNumberViewModel


@section AddToHead{
    <style>
        .wrapper {
            background-color: whitesmoke;
            list-style-type: none;
            padding: 0;
            border-radius: 3px;
        }

        .form-row {
            display: flex;
            /*justify-content: flex-end;*/
            padding: .5em;
        }

        .form-row > label {
            padding: .5em 1em .5em 0;
        }

        .form-row > input {
            flex: 1;
        }

        .form-row > input,
        .form-row > button {
            padding: .5em;
        }

        .form-row > button {
            background: gray;
            color: white;
            border: 0;
        }

    </style>
}

@{
    ViewBag.Title = "Home Page";
}

    <div>
        @using (Html.BeginForm())
        {

            @*<div class="form-row">*@
        <div style="padding:8px;">
            <label for="PhoneNumber">Phone Number:</label>
            <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" size="10" maxlength="13"  />
            <input type="submit" name="action" value="View Variations" formaction=@Url.Action("ViewVariations") formmethod="post" 
                   style="padding:2px,6px,2px,6px;margin-left:8px;border-radius:18px;"/>
        </div>

            @*<div class="form-row">

                <label for="PhoneNumber">Phone Number:</label>
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", size = "4", maxlength = "20" })


            </div>

            <div>
                test<input type="text" size="4" maxlength="4" />
            </div>*@

            @*</div>*@


            if (Model.PhoneNumbers.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Phone Number Variation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var variation in Model.PhoneNumbers)
                        {
                            <tr>
                                <td>@variation.Id</td>
                                <td>@variation.NumberVariation</td>
                            </tr>
                        }
                    </tbody>


                </table>

                <div style="display:flex;justify-content:space-between">

                    <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                    <input type="hidden" name="PageCount" value="@Model.PageCount" />

                    
                    <div>
                        <input type="submit" name="action" value="&lt;" class="btn btn-link" formaction=@Url.Action("Previous") formmethod="post"
                               disabled="@(Model.PageNumber == 1 ? "disabled" : null)" />
                        <label>Page</label> @Model.PageNumber of @Model.PageCount
                        <input type="submit" name="action" value="&gt;" class="btn btn-link" formaction=@Url.Action("Next") formmethod="post"
                               disabled="@(Model.PageNumber == @Model.PageCount ? "disabled" : null)" />
                    </div>

                    <div>
                        <label>Page Size</label>
                        @Html.DropDownList("PageSize",
                            new int[] { 20, 30, 50, 100 }.Select(d=>new SelectListItem {Text=d.ToString(),Value=d.ToString(),Selected=Model.PageSize==d}), new { id="PageSizeDropdown" })
                    </div>

                </div>

            }

        }
    </div>

@section Scripts
{
    <script>
        $(function () {

            $("#PageSizeDropdown").change(function (event) {
                var form = $(event.target).parents('form');
                form.action = "/Home/PageSizeChange";
                form.submit();
            });

        });
    </script>
}

